<div class="input group  page-subtitle">
    <input type="text"
           class="form-control page-subtitle"
            placeholder="Type suggestion name here to search"
            @bind-value="suggestionNameToSearch" />
    <br />
    <button type="button"
            class="btn-success input-group-text page-subtitle"
            @onclick="OnSearch">Search</button>
</div>

@code {
    private string suggestionNameToSearch = string.Empty;

    [Parameter]
    public EventCallback<string> OnSearchSuggestionList { get; set; }

    public void OnSearch()
    {
        OnSearchSuggestionList.InvokeAsync(suggestionNameToSearch);
    }

}
