@inject NavigationManager NavManager

@if (Suggestions != null && Suggestions.Count > 0)
{
    foreach (var c in Suggestions)
    {
        <tr scope="row">
            <td class="col page-subtitle">@c.SuggestionName</td>
            <td class="col page-subtitle">@c.SuggestionDesc</td>
            <td>
                <button type="button"
                        class="btn btn-light page-subtitle"
                        @onclick="@(() => EditSuggestion(c.SuggestionId))">Edit</button>
            </td>
        </tr>
    }
   

}


@code {
    [Parameter]
    public List<Suggestion> Suggestions { get; set; } = new List<Suggestion>();

    private void EditSuggestion(int suggestionId)
    {
        NavManager.NavigateTo($"/editsuggestion/{suggestionId}");
    }

}