@inject IViewSuggestionsByNameUseCase ViewSuggestionsByNameUseCase

<table class="table">
    <thead>
        <tr>
            <th scope="col">
                <div class="d-flex justify-content-center page-subtitle">
                    Name
                </div>
            </th>
            <th scope="col">
                <div class="d-flex justify-content-center page-subtitle">
                    Description
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        <SuggestionListItemComponent Suggestions="listSuggestions"></SuggestionListItemComponent>
    </tbody>
</table>

@code {
    private List<Suggestion> listSuggestions = new List<Suggestion>();

    [Parameter]
    public string SearchTerm { get; set; } = string.Empty;

    protected override async Task OnParametersSetAsync()
    {
        listSuggestions = (await ViewSuggestionsByNameUseCase.ExecuteAsync(this.SearchTerm)).ToList();
    }


}

