@page "/editSuggestion/{SugId:int}"

@inject NavigationManager NavManager
@inject IViewSuggestionByIdUseCase ViewSuggestionByIdUseCase
@inject IEditSuggestionUseCase EditSuggestionUseCase

<h3>EditSuggestion</h3>

@code {

}
