@inject NavigationManager NavManager

@if (Terms != null && Terms.Count > 0)
{
    foreach (var c in Terms)
    {
        <tr>
            <td class="col page-subtitle">@c.TermName</td>
            <td class="col page-subtitle">@c.TermDesc</td>
            <td class="col page-subtitle">@c.TermWeekCount</td>
            <td class="col page-subtitle">
                <button type="button"
                        class="btn btn-light page-subtitle"
                        @onclick="@(() => EditTerm(c.TermId))">Edit</button>
            </td>
        </tr>
    }
   

}


@code {
    [Parameter]
    public List<Term> Terms { get; set; } = new List<Term>();

    private void EditTerm(int termId)
    {
        NavManager.NavigateTo($"/editterm/{termId}");
    }

}
