@inject IViewTermsByNameUseCase ViewTermsByNameUseCase

<table class="table">
    <thead>
        <tr>
            <th scope="col">
                <div class="d-flex justify-content-center page-subtitle">
                    Name
                </div>
            </th>
            <th scope="col">
                <div class="d-flex justify-content-center page-subtitle">
                    Description
                </div>
            </th>
            <th scope="col">
                <div class="d-flex justify-content-center page-subtitle">
                    Weeks in Term
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        <TermListItemComponent Terms="listTerms"></TermListItemComponent>
    </tbody>
</table>

@code {
    private List<Term> listTerms = new List<Term>();

    [Parameter]
    public string SearchTerm { get; set; } = string.Empty;

    protected override async Task OnParametersSetAsync()
    {
        listTerms = (await ViewTermsByNameUseCase.ExecuteAsync(this.SearchTerm)).ToList();
    }


}
