<div class="input group">
    <input type="text"
           class="form-control page-subtitle"
            placeholder="Type week name here to search"
            @bind-value="weekNameToSearch" />
    <br />
    <button type="button"
            class="btn-success input-group-text page-subtitle"
            @onclick="OnSearch">Search</button>
</div>

@code {
    private string weekNameToSearch = string.Empty;

    [Parameter]
    public EventCallback<string> OnSearchWeekList { get; set; }

    public void OnSearch()
    {
        OnSearchWeekList.InvokeAsync(weekNameToSearch);
    }

}

