@inject IViewWeeksByNameUseCase ViewWeeksByNameUseCase

<table class="table">
    <thead>
        <tr>
            <th scope="col">
                <div class="d-flex justify-content-center page-subtitle">
                    Name
                </div>
            </th>
            <th scope="col">
                <div class="d-flex justify-content-center page-subtitle">
                    Description
                </div>
            </th>
            <th scope="col">
                <div class="d-flex justify-content-center page-subtitle">
                    TermId
                </div>
            </th>
            <th scope="col">
                <div class="d-flex justify-content-center page-subtitle">
                    Term Name
                </div>
            </th>
            <th scope="col">
                <div class="d-flex justify-content-center page-subtitle">
                    Liked Least
                </div>
            </th>
            <th scope="col">
                <div class="d-flex justify-content-center page-subtitle">
                    Liked Most
                </div>
            </th>
            <th scope="col">
                <div class="d-flex justify-content-center page-subtitle">
                    Most Difficult
                </div>
            </th>
            <th scope="col">
                <div class="d-flex justify-content-center page-subtitle">
                    Least Difficult
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        <WeekListItemComponent Weeks="listWeeks"></WeekListItemComponent>
    </tbody>
</table>

@code {
    private List<Week> listWeeks = new List<Week>();

    [Parameter]
    public string SearchTerm { get; set; } = string.Empty;

    protected override async Task OnParametersSetAsync()
    {
        listWeeks = (await ViewWeeksByNameUseCase.ExecuteAsync(this.SearchTerm)).ToList();
    }


}
