@inject IViewCoursesByNameUseCase ViewCoursesByNameUseCase

<table class="table">
    <thead>
        <tr>
            <th scope="col">
                <div class="d-flex justify-content-center page-subtitle">
                    Name
                </div>
            </th>
            <th>
                <div class="d-flex justify-content-center page-subtitle">
                    Description
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        <CourseListItemComponent Courses="listCourses"></CourseListItemComponent>
    </tbody>
</table>

@code {
    private List<Course> listCourses = new List<Course>();

    [Parameter]
    public string SearchTerm { get; set; } = string.Empty;

    protected override async Task OnParametersSetAsync()
    {
        listCourses = (await ViewCoursesByNameUseCase.ExecuteAsync(this.SearchTerm)).ToList();
    }


}
