@inject NavigationManager NavManager

   @if (Courses != null && Courses.Count > 0)
    {
        foreach (var c in Courses)
        {
            <tr scope="row">
                <td class="col page-subtitle">@c.CourseName</td>
                <td class="col page-subtitle">@c.CourseDesc</td>
                <td class="col page-subtitle">
                    <button type="button" class="btn btn-light page-subtitle" @onclick="@(() => EditCourse(c.CourseId))">Edit</button>
                    <a class="btn btn-primary page-subtitle" @onclick="@(() => ViewDeliverables(c.CourseId))"> <span class="oi oi-book" aria-hidden="true"></span> Deliverables </a>
                </td>
            </tr>
        }
    }


@code {
    [Parameter]
    public List<Course> Courses { get; set; } = new List<Course>();

    private void ViewDeliverables(int courseId)
    {
        NavManager.NavigateTo($"/courses/deliverables/{courseId}");
    }

    private void EditCourse(int courseId)
    {
        NavManager.NavigateTo($"/courses/edit/{courseId}");
    }
}

