@page "/"

@inject IViewCoursesByNameUseCase ViewCoursesByNameUseCase

<PageTitle>Test Page</PageTitle>
<br />
<ul>
    @foreach(var c in _courses)
    {
        <li>
            @c.CourseName
        </li>
    }
</ul>

@code{
    private List<Course> _courses = new List<Course>();
    
    protected override async Task OnInitializedAsync()
    {
        _courses = (await ViewCoursesByNameUseCase.ExecuteAsync()).ToList();
    }
}
