@page "/courses/edit/{CrsId:int}"

@inject NavigationManager NavManager
@inject IViewCourseByIdUseCase ViewCourseByIdUseCase
@inject IEditCourseUseCase EditCourseUseCase


<div class="page-title">Edit Course</div>

<EditForm Model="course" OnValidSubmit="SaveCourse">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <ValidationSummary></ValidationSummary>

    <div class="form-group">
        <label for="name">Course Name</label>
        <InputText id="name" @bind-Value="course.CourseName" class="form-control"></InputText>
    </div>

    <div class="form-group">
        <label for="name">Course Description</label>
        <InputText id="name" @bind-Value="course.CourseDesc" class="form-control"></InputText>
    </div>

    <div class="form-group page-subtitle">
        <label for="daysofweek">Days of the Week</label>
        <InputText id="daysofweek" @bind-Value="course.DaysOfWeek" class="form-control"></InputText>
    </div>

    <div class="form-group page-subtitle">
        <label for="times">Times</label>
        <InputText id="times" @bind-Value="course.Times" class="form-control"></InputText>
    </div>

    <div class="form-group page-subtitle">
        <label for="instructor">Instructor</label>
        <InputText id="instructor" @bind-Value="course.Instructor" class="form-control"></InputText>
    </div>

    <br />
    <button type="submit" class="btn btn-primary">Save</button>
    <button type="button" class="btn btn-primary" @onclick="Cancel">Cancel</button>
</EditForm>




@code {
    [Parameter]
    public int CrsId { get; set; }

    private Course course = new Course();

    protected override async Task OnParametersSetAsync()
    {
        this.course = await ViewCourseByIdUseCase.ExecuteAsync(this.CrsId);
    }

    private async Task SaveCourse()
    {
        if (this.course != null)
        {
            await EditCourseUseCase.ExecuteAsync(this.course);
        }
        
        NavManager.NavigateTo("/courses/list");
    }

    private void Cancel()
    {
        NavManager.NavigateTo("/courses/list");
    }

}