@page "/deliverables/create"

@inject NavigationManager NavManager
@inject IAddDeliverableUseCase AddDeliverableUseCase
@inject IViewCoursesByNameUseCase ViewCoursesByNameUseCase


<h3>Add Deliverable</h3>
<br />
<EditForm Model="deliverable" OnValidSubmit="SaveDeliverable">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <ValidationSummary></ValidationSummary>

    <div class="form-group">
        <label for="name">Deliverable Name</label>
        <InputText id="name"
                   @bind-Value="deliverable.DeliverableName"
                   class="form-control">
        </InputText>
    </div>

    <div class="form-group">
        <label for="name">Deliverable Description</label>
        <InputText id="name"
                   @bind-Value="deliverable.DeliverableDesc"
                   class="form-control">
        </InputText>
    </div>
    <div class="form-group">
        <label for="course">Course</label>
        <InputSelect @bind-Value="deliverable.CourseId" class="form-select" id="course">
            <option value="">-- Select Course --</option>
            @foreach (var crs in listCourses)
            {
                <option value="@crs.Id">@crs.CourseName</option>
            }
        </InputSelect>
    </div>

    <br />
    <button type="submit" class="btn btn-primary">Save</button>
    <button type="button" class="btn btn-primary" @onclick="Cancel">Cancel</button>
</EditForm>

@code {
    private Deliverable deliverable = new Deliverable();
    private List<Course> listCourses = new List<Course>();

    protected override async Task OnInitializedAsync()
    {
        listCourses = (await ViewCoursesByNameUseCase.ExecuteAsync("")).ToList();
    }

    private async Task SaveDeliverable()
    {
        await AddDeliverableUseCase.ExecuteAsync(deliverable);
        NavManager.NavigateTo("/deliverables/list");
    }

    private void Cancel()
    {
        NavManager.NavigateTo("/deliverables/list");
    }
}