@page "/editdeliverable/{DelId:int}"

@inject NavigationManager NavManager
@inject IViewDeliverableByIdUseCase ViewDeliverableByIdUseCase
@inject IEditDeliverableUseCase EditDeliverableUseCase
@inject IViewCoursesByNameUseCase ViewCoursesByNameUseCase

<h3>EditDeliverable</h3>

<EditForm Model="deliverable" OnValidSubmit="SaveDeliverable">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <ValidationSummary></ValidationSummary>

    <div class="form-group">
        <label for="name">Deliverable Name</label>
        <InputText id="name"
        @bind-Value="deliverable.DeliverableName"
                   class="form-control">
        </InputText>
    </div>

    <div class="form-group">
        <label for="name">Deliverable Description</label>
        <InputText id="name"
        @bind-Value="deliverable.DeliverableDesc"
                   class="form-control">
        </InputText>
    </div>
    <div class="form-group">
        <label for="course">Course</label>
        <InputSelect @bind-Value="deliverable.CourseId" class="form-select" id="course">
            <option value="">-- Select Course --</option>
            @foreach (var crs in listCourses)
            {
                <option value="@crs.CourseId">@crs.CourseName</option>
            }
        </InputSelect>
    </div>

    <br />
    <button type="submit" class="btn btn-primary">Save</button>
    <button type="button" class="btn btn-primary" @onclick="Cancel">Cancel</button>
</EditForm>




@code {
    [Parameter]
    public int DelId { get; set; }

    private Deliverable deliverable = new Deliverable();
    private List<Course> listCourses = new List<Course>();

         protected override async Task OnInitializedAsync()
    {
        listCourses = (await ViewCoursesByNameUseCase.ExecuteAsync("")).ToList();
    }

    protected override async Task OnParametersSetAsync()
    {
        this.deliverable = await ViewDeliverableByIdUseCase.ExecuteAsync(this.DelId);
    }

    private async Task SaveDeliverable()
    {
        await EditDeliverableUseCase.ExecuteAsync(this.deliverable);
        NavManager.NavigateTo("/deliverables");
    }

    private void Cancel()
    {
        NavManager.NavigateTo("/deliverables");
    }

}