@page "/deliverables/list"

@inject NavigationManager NavManager


<div class="page-title">Deliverable List</div>
<br />

<SearchDeliverableListComponent OnSearchDeliverableList="OnDeliverableListSearch"></SearchDeliverableListComponent>
<br />
<DeliverableListComponent SearchTerm="@searchTerm"></DeliverableListComponent>
<br />

<button type="button"
        class="btn btn-primary"
        @onclick="AddDeliverable">Add Deliverable</button>

@code {
    private string searchTerm = string.Empty;

    private void OnDeliverableListSearch(string searchTerm)
    {
        this.searchTerm = searchTerm;
    }

    private void AddDeliverable()
    {
        NavManager.NavigateTo("/deliverables/create");
    }

}
