@inject IViewDeliverablesByNameUseCase ViewDeliverablesByNameUseCase

<table class="table">
    <thead>
        <tr>
            <th scope="col">
                <div class="d-flex justify-content-center page-subtitle">
                    Name
                    </div>
            </th>
            <th scope="col">
                <div class="d-flex justify-content-center page-subtitle">
                    Description
                </div>
            </th>
            <th scope="col">
                <div class="d-flex justify-content-center page-subtitle">
                    Assignment Date
                </div>
            </th>
            <th scope="col">
                <div class="d-flex justify-content-center page-subtitle">
                    Due Date
                </div>
            </th>
            <th scope="col">
                <div class="d-flex justify-content-center page-subtitle">
                    Course
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        <DeliverableListItemComponent Deliverables="listDeliverables"></DeliverableListItemComponent>
    </tbody>
</table>

@code {
    private List<Deliverable> listDeliverables = new List<Deliverable>();

    [Parameter]
    public string SearchTerm { get; set; } = string.Empty;

    protected override async Task OnParametersSetAsync()
    {
        listDeliverables = (await ViewDeliverablesByNameUseCase.ExecuteAsync(this.SearchTerm)).ToList();
    }


}